# The full URL of the deployed application
NEXT_PUBLIC_APP_URL="http://localhost:3063"
# For auth.js
AUTH_SECRET="some secret string"
# PostgresQL
PG_URL="postgres://user:password@localhost:5432/dbname"
# Path to the S3 public bucket with files
NEXT_PUBLIC_FILE_URL=""
# 1C odata endpoint and auth header (basic auth)
ODATA_API_URL=""
ODATA_API_AUTH_HEADER=""
# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
# Posthog analytics key and ingest host
NEXT_PUBLIC_POSTHOG_KEY=******
NEXT_PUBLIC_POSTHOG_HOST=https://app.posthog.com